body {
  background: #ddd;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.stage {
  margin: 0 auto;
  width: 500px;
  height: 260px;

  overflow: hidden;
}

#cards {
  width: 1500px;
  height: 260px;

  /* カードに動きをつける　これがないとカクカクになる */
  transition: 0.8s;
}

.card {
  width: 450px;
  height: 210px;
  padding: 25px;
  background: #fff;
  float: left;
  border-radius: 10px;
}

/* カードの間の余白を入れる */
.card + .card {
  margin-left: 500px;
}

/* jsで動かせるようにする x軸に-200px, y軸は0px */
#cards.move {
  transform: translate(-1000px, 0);
}

.leftside {
  width: 160px;
  float: left;
}

.leftside img {
  border-radius: 10px;
}

.rightside {
  width: 260px;
  float: right;
  text-align: center;
}

.rightside h1 {
  margin: 10px 0;
}

.card input {
  width: 230px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  width: 200px;
  height: 45px;
  background: #35ac64;
  box-shadow: 0 5px 0 green;
  color: #fff;
  line-height: 45px;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
}

#tweet {
  background: #1da1f2;
  box-shadow: 0 5px 0 #006dbf;
  margin-bottom: 20px;
}

.btn:active {
  box-shadow: 0 5px 0 #036e03;
  margin-top: 5px;
}

#result_name,
#result_msg,
#result_job,
#result_type {
  font-weight: bold;
}

#retry {
  text-decoration: underline;
  cursor: pointer;
}